{% include "header.html" %}

<!-- Page Header -->
<!-- Wrapper -->
			<div id="wrapper">

				<!-- Banner -->
					<section id="banner" class="major">
						<div class="inner">
							<header class="major">
								<h1 style="color: #fff">Welcome to my blog</h1>
							</header>
							<div class="content">
								<p style="color: #fff">The balthus gate3 is greate game<br />
								and I want to play the game.</p>
							</div>
						</div>
					</section>
			</div>
				<!-- Main -->
					<div id="main">

						<!-- One -->
							<section id="one" class="tiles">
								<article>
									<span class="image">
										<img src="images/pic01.jpg" alt="" />
									</span>
									<header class="major">
										<h3 style="color: #fff"><a href="../blog_post.html" class="link">Blog</a></h3>
										<p style="color: #fff">Ipsum dolor sit amet</p>
									</header>
								</article>
								<article>
									<span class="image">
										<img src="images/pic02.jpg" alt="" />
									</span>
									<header class="major">
										<h3 style="color: #fff"><a href="test_post.html" class="link">Test</a></h3>
										<p style="color: #fff">feugiat amet tempus</p>
									</header>
								</article>

							</section>


			</div>


<hr>

{% include "footer.html" %}