{% include "header.html" %}
     <div id="wrapper">

        <!-- Banner -->
            <section id="banner" class="major">
                <div class="inner">
                    <header class="major">
                        <h1 style="color: #fff">Login</h1>
                    </header>
                    <div class="content">
                        <p style="color: #fff">Manager login.</p>
                    </div>
                </div>
            </section>
    </div>
    <div class="container">
        <h5 class="my-3 border-bottom pb-2">로그인</h5>
        <form method="post" action="{{ url_for('login') }}">
            {%with messages = get_flashed_messages()%}
            {%if messages %}
                <script type="text/javascript">
                  alert("{{messages[-1]}}");
                </script>
            {%endif%}
            {%endwith%}
            <div class="mb-3">
                <label for="password">비밀번호</label>
                <input type="password" class="form-control" name="password" id="password">
            </div>
            <button type="submit" class="btn btn-primary">로그인</button>
        </form>
    </div>
<hr>
{% include "footer.html" %}