{% include "header.html" %}
        <!-- Page Header-->
        <header class="masthead" style="background-image: url('../static/assets/img/post-bg.jpg')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="post-heading">
                            <h1>{{post.title}}</h1>
                            <h2 class="subheading">{{post.subtitle}}</h2>
                            <span class="meta">
                                Posted by
                                {{post.author}}
                                on {{post.date}}
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Post Content-->
        <article class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">


                        {{post.body | safe}}

                </div>
            </div>
        </article>

<!-- 댓글 섹션 -->
<div class="comments">
    <h3>댓글</h3>
    <ul>
        {% for comment in comments %}
            <li>
                <strong>{{ comment.author }}</strong>
                <span>{{ comment.date }}</span>
                <p>{{ comment.text }}</p>
                <!-- 삭제 버튼 추가 -->
                <form method="POST" action="{{ url_for('delete_comment', comment_id=comment.id) }}">
                    <button type="submit">댓글 삭제</button>
                </form>

            </li>
        {% endfor %}
    </ul>
    <form method="POST" action="{{ url_for('show_post', index=post.id, category=post.category) }}">
        <textarea name="comment_text" rows="4" placeholder="댓글 작성"></textarea>
        <button type="submit">댓글 작성</button>
    </form>
</div>



<hr>
{% include "footer.html" %}
