{% include "header.html" %}

        <div id="wrapper">

				<!-- Banner -->
					<section id="banner" class="major">
						<div class="inner">
							<header class="major">
								<h1 style="color: #fff">About us</h1>
							</header>
							<div class="content">
								<p style="color: #fff">This is what we do.</p>
							</div>
						</div>
					</section>
			</div>
        <!-- Main Content-->
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <h1>Mocchat</h1>
                        <h2>조민식 1998. 10. 10</h2>
                        <p>2023.08 한국외국어대학교 생명공학과 / 컴퓨터공학과 졸업<br>
                            2023.03 ~ 2023.06 : 상품 크롤링 특가 알림 웹 프로젝트<br>
                            2023.08 ~ 2023.09 : 포트폴리오 블로그 프로젝트
                        </p>
                            <div class="icon">
                                <img src="../static/assets/icon/python.png" alt="이미지 설명">
                                <img src="../static/assets/icon/java.png" alt="이미지 설명">
                                <img src="../static/assets/icon/web.png" alt="이미지 설명">
                                <img src="../static/assets/icon/sql.png" alt="이미지 설명">
                                <img src="../static/assets/icon/unity.png" alt="이미지 설명">
                            </div>
                        <hr>
                        <h1>Lindin</h1>
                        <h2>김동한 1998. 2. 12</h2>
                        <p>한국외국어대학교 프랑스학과 / 컴퓨터공학과 졸업예정<br>
                            2021.02 ~ 2022.02 : 한국외국어대학교 코딩존 조교<br>
                            2021.07 ~ 2021.09 : 멋쟁이 사자처럼 코딩캠프 수료<br>
                            2023.03 ~ 2023.06 : 상품 크롤링 특가 알림 웹 프로젝트<br>
                            2023.08 ~ 2023.09 : 포트폴리오 블로그 프로젝트


                        </p>
                        <div class="icon">
                            <img src="../static/assets/icon/python.png" alt="이미지 설명">
                            <img src="../static/assets/icon/java.png" alt="이미지 설명">
                            <img src="../static/assets/icon/web.png" alt="이미지 설명">
                            <img src="../static/assets/icon/docker.png" alt="이미지 설명">
                            <img src="../static/assets/icon/spring.png" alt="이미지 설명">
                        </div>
                    </div>
                </div>
            </div>

            <hr>

  {% include "footer.html" %}
