{% include "header.html" %}
 <div id="wrapper">

    <!-- Banner -->
        <section id="banner" class="major">
            <div class="inner">
                <header class="major">
                    <h1 style="color: #fff">Add post</h1>
                </header>
            </div>
        </section>
</div>
{{ ckeditor.load() }}
        <!-- Main Content-->
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="my-5">
                            <!-- * * * * * * * * * * * * * * *-->
                            <!-- * * SB Forms Contact Form * *-->
                            <!-- * * * * * * * * * * * * * * *-->
                            <!-- This form is pre-integrated with SB Forms.-->
                            <!-- To make this form functional, sign up at-->
                            <!-- https://startbootstrap.com/solution/contact-forms-->
                            <!-- to get an API token!-->
                            <form id="contactForm" data-sb-form-api-token="API_TOKEN" name="sentMessage" action="{{ url_for('add_post') }}" method="post">
                                <div class="form-floating">
                                    Category
                                    <select name="category">
                                        <option value="Blog">Blog</option>
                                        <option value="Crawl">Crawl</option>
                                        <option value="Game">Game</option>
                                        <option value="Aws_iv">Aws_iv</option>
                                        <option value="Algo">Algorithms</option>
                                        <option value="Test">Certificate</option>
                                    </select>
                                </div>
                                <div class="form-floating">
                                    <input class="form-control" id="Title" name="Title" type="text" placeholder="Enter Title..." data-sb-validations="required" />
                                    <label for="Title">Title</label>
                                    <div class="invalid-feedback" data-sb-feedback="title:required">A title is required.</div>
                                </div>
                                <div class="form-floating">
                                    <input class="form-control" id="Sub" name="Sub" type="text" placeholder="Enter your subtitle..." data-sb-validations="required,email" />
                                    <label for="Sub">Sub Title</label>
                                    <div class="invalid-feedback" data-sb-feedback="title:required">An Subtitle is required.</div>
                                </div>
                                <div class="form-floating">
                                    {{ ckeditor.create() }}
                                </div>
                                <br />
                                <!-- Submit Button-->
                                <button class="btn btn-primary" id="submitButton" type="submit">Send</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <hr>

            {% include "footer.html" %}
