{% include "header.html" %}
<div id="wrapper">

    <!-- Banner -->
        <section id="banner" class="major">
            <div class="inner">
                <header class="major">
                    <h1 style="color: #fff">Aws investment post</h1>
                </header>
                <div class="content">
                    <p style="color: #fff">Produce a program that uses Amazon Cloud to alarm stock information</p>
                </div>
            </div>
        </section>
</div>
<!-- Main Content -->
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      {% for post in all_posts %}
      <div class="post-preview">

        <a href="{{ url_for('show_post', index=post.id, category='Aws_iv') }}">
          <h2 class="post-title">
             {{post.title}}
          </h2>
          <h3 class="post-subtitle">
            {{post.subtitle}}
          </h3>
        </a>
        <p class="post-meta">Posted by
          {{post.author}}
          on {{post.date}}</p>
        {% if g.user %}
        <div>
            <form data-sb-form-api-token="API_TOKEN" name="delMessage" action="{{ url_for('aws_iv_post') }}" method="post" class="post-btn">
              <input style="display: none" type="text" name="id" value="{{post.id}}">
              <input style="display: none" type="text" name="category" value="{{post.category}}">
              <input style="display: none" type="text" name="check" value="del">
              <button class="btn" type="submit">Delete</button>
            </form>
            <form  data-sb-form-api-token="API_TOKEN" name="delMessage" action="{{ url_for('aws_iv_post') }}" method="post" class="post-btn">
              <input style="display: none" type="text" name="id" value="{{post.id}}">
              <input style="display: none" type="text" name="category" value="{{post.category}}">
              <input style="display: none" type="text" name="check" value="edit">
              <button class="btn" type="submit">Edit</button>
            </form>
        </div>
        {% endif %}
      </div>
      <hr>
      {% endfor %}
    </div>
  </div>
</div>
<hr>

{% include "footer.html" %}