{% include "header.html" %}

<!-- Page Header -->
<!-- Wrapper -->
			<div id="wrapper">

				<!-- Banner -->
					<section id="banner" class="major">
						<div class="inner">
							<header class="major">
								<h1 style="color: #fff">Welcome to my blog</h1>
							</header>
							<div class="content">
								<p style="color: #fff">The balthus gate3 is greate game<br />
								and I want to play the game.</p>
								<form action="{{ url_for('search_post') }}" method="POST" style="display: flex;">
    								<input type="text" name="keyword" placeholder="검색어를 입력하세요">
    								<button type="submit">검색</button>
								</form>
							</div>

						</div>
					</section>
			</div>
				<!-- Main -->
					<div id="main">

						<!-- One -->
							<section id="one" class="tiles">
								<article style="background">
									<span class="image">
										<img src="static/assets/img/pic01.jpg" alt="" />
									</span>
									<header class="major" >
										<h3 style="color: #fff"><a href="{{ url_for('blog_post') }}" class="link">Blog project</a></h3>
										<p style="color: #fff">Project in progress</p>
									</header>
								</article>
								<article>
									<span class="image">
										<img src="static/assets/img/pic02.jpg" alt="" />
									</span>
									<header class="major">
										<h3 style="color: #fff"><a href="{{ url_for('test_post') }}" class="link">Certificate, etc</a></h3>
										<p style="color: #fff">Certificate and etc..</p>
									</header>
								</article>
								<article>
									<span class="image">
										<img src="static/assets/img/pic03.jpg" alt="" />
									</span>
									<header class="major">
										<h3 style="color: #fff"><a href="{{ url_for('algo_post') }}" class="link">Algorithms</a></h3>
										<p style="color: #fff">Algorithm Problem Solving</p>
									</header>
								</article>
								<article>
									<span class="image">
										<img src="static/assets/img/pic04.jpg" alt="" />
									</span>
									<header class="major">
										<h3 style="color: #fff"><a href="{{ url_for('crawl_post') }}" class="link">Crawling</a></h3>
										<p style="color: #fff">Crawling Coupang to import data</p>
									</header>
								</article>

							</section>


			</div>


<hr>

{% include "footer.html" %}